################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEndTest/.vs/BackEndTest/v16
/BackEndTest/BackEndTest/bin/Debug/netcoreapp3.1
/BackEndTest/BackEndTest/obj
/BackEndTest/.vs/BackEndTest/DesignTimeBuild

BackEndTest/BackEndTest/BackEndTest\.csproj\.user
